html, body {
	height: 99%;
}

body {
	background-color: black;
	background-image: url("../images/performanceDates.png");
	background-repeat: no-repeat;
	background-position: center;
	clip: rect(2px,365px,457px,2px);
}

@font-face {
    font-family: janda;
    src: url("../fonts/JandaCheerfulScript.ttf");
}

p, h1 {
	color: white;
	font-family: 'janda';
}

.nav_button {
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	position: absolute;
	color: white;
	background-color: green;
}

.nav_button:after {
	z-index: 0;
	display: block;
	top: 22px;
	right: 23px;
	background-color: blue;
}

.horiz_button {
	top: 50%;
	margin-top: -10px;
	height: 20px;

	/*border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;*/
}

.vert_button {
	left: 50%;
	margin-left: -50px;
	width: 100px;
	/*border-left: 15px solid transparent;
	border-right: 15px solid transparent;*/
}

#topButton {
	top: 0%;/*
	border-top: 30px solid red;*/
}

#rightButton {
	right: 0%;/*
	border-right: 30px solid red;*/
}

#bottomButton {
	bottom: 0%;/*
	border-bottom: 30px solid red;*/
}

#leftButton {
	left: 0%;
	/*
	border-left: 30px solid red;*/
}
/*html {
	width: 100%;
	height: 100%;
	background: url("../images/groupPicture.jpg") center center no-repeat;
	background-color: black;
}*/